* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 1.5rem;
}

.average-grade-text-div {
  text-align: right;
}

#student-grade-table-text {
  font-size: 2rem;
  margin-bottom: 0;
}

#average-grade-text {
  display: inline-block;
  font-size: 1.7rem;
  margin-bottom: 0;
}

#add-grade-text {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.input-group-text {
  width: 48px;
}

@media screen and (max-width: 1199px) {
  #header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
  }

  #student-grade-table-text {
    text-align: center;
  }

  .average-grade-text-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .col-3 {
    max-width: 100%;
  }

  .form-btns {
    text-align: left;
  }

  #add-grade-text {
    text-align: center;
  }
}
